{% extends "base.twig" %}

{% block content %}
	<article class="w-post-type-{{post.post_type}}" id="w-post-{{post.ID}}">

        {# intro #}
		<header class="w-article-header uk-section uk-padding-remove-bottom uk-background-muted">

			<div class="uk-container">
                <div class="uk-flex-middle uk-child-width-1-2@m" uk-grid>
                    <div class="uk-margin-large-bottom">
                        <h1>
                            {{ post.meta('s1-title') }}
                        </h1>
                        <div class="uk-margin-large-right uk-text-lead">
                            {{ post.meta('s1-text') }}
                        </div>
                        <a class="uk-button uk-button-secondary" href="tel:{{ options.telefon }}"><span class=" fas fa-phone-alt uk-margin-small-right"></span>Kérjen időpontot</a>
                    </div>
                    <div class="uk-text-center">
                        <img src="{{ Image(post.meta('s1-image')).src }}">
                    </div>
                </div>
			</div>

		</header>


        {# services #}
        <section id="services" class="uk-container uk-margin-minus">
            <div class="uk-padding uk-border-bold">
                <div class="uk-section-title uk-margin-large-bottom">
                    <h4>{{ post.meta('s2-subtitle') }}</h4>
                    <h2>{{ post.meta('s2-title') }}</h2>
                </div>
                <div class="uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-bottom" uk-grid>
                    {% for item in post.meta('s2-services') %}

                        <div class="uk-flex {% if loop.index > 6 %}w-services{% endif %}" {% if loop.index > 6 %}hidden{% endif %}>
                            <div class="uk-width-auto">
                                <svg style="max-width: 65px; max-height: 52.42px; fill: #242c6d"><use href="#mancs"></svg>
                            </div>
                            <div class="uk-width-expand uk-margin-left uk-position-relative">
                                <h5 class="uk-margin-remove">{{ item.title }}</h5>
                                <div class="uk-overflow-hidden w-text">
                                    <p class="uk-margin-remove">{{ item.text }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="uk-flex uk-flex-center uk-margin-vertical w-services">
                    <button class="uk-button uk-button-secondary" uk-toggle="target: .w-services; animation: uk-animation-fade; queued: true">Még több</button>
                </div>
            </div>
        </section>


        {# idézetek 1 #}
        <section class="uk-section w-quote-block uk-margin-top uk-margin-bottom">
            <div class="uk-container uk-container-small">

                <div class="uk-position-relative" uk-slider="autoplay: true; infinite: true">
                    <ul class="uk-slider-items">
                        {% for item in post.meta('testimonials') %}
                        <li class="uk-width-1-1 uk-margin-left uk-margin-remove-top" uk-grid>
                            {% if image %}
                            <div class="uk-width-auto">
                                <div class="first">
                                    <div class="uk-cover-container uk-height-small uk-width-small">
                                        <img src="{{ Image(item.image).src }}" uk-cover>
                                    </div>
                                </div>
                                <div class="second">
                                    <div class="uk-cover-container uk-height-small uk-width-small">
                                        <img src="{{ Image(item.image).src }}" uk-cover>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="uk-width-expand@s uk-position-relative">
                                <svg class="quotion"><use href="#quote"></svg>
                                <div class="uk-height-1-1 uk-flex uk-flex-middle uk-position-relative">
                                    <div class="uk-margin-top">
                                        <div class="text">
                                            {{ item.text }}
                                        </div>
                                        <p class="uk-text-primary uk-text-bold uk-margin-remove">{{ item.name }}</p>
                                        {% if item.or == "facebook" %}
                                        <a href="https://www.facebook.com/Szurikata/reviews/" class="uk-text-small uk-link-text">
                                            <span class="fab fa-facebook"></span>
                                            még több vélemény a facebookon
                                        </a>
                                        {% else %}
                                        <a href="https://www.google.com/maps/place/Szuri-K%C3%A1ta/@47.4505891,19.7013998,15z/data=!4m7!3m6!1s0x0:0xff2e99e51c1e185a!8m2!3d47.4505891!4d19.7013998!9m1!1b1" class="uk-text-small uk-link-text">
                                            <span class="fab fa-google"></span>
                                            még több vélemény a google-ön
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>

            </div>
        </section>


        {# rólunk #}
        <section id="about" class="uk-section uk-background-muted">
            <div class="uk-container">
                <div class="uk-section-title">
                    <h4>{{ post.meta('s4-subtitle') }}</h4>
                    <h2>{{ post.meta('s4-title') }}</h2>
                </div>
                <div class="uk-child-width-1-2@s uk-padding uk-padding-remove-left uk-padding-remove-right uk-text-lead" uk-grid>
                    <div class="left">{{ post.meta('s4-text-left') }}</div>
                    <div class="right">{{ post.meta('s4-text-right') }}</div>
                </div>
                <div class="uk-flex uk-flex-center uk-margin-bottom">
                    <a href="#contact" class="uk-button uk-button-secondary">Kapcsolat</a>
                </div>
            </div>
        </section>


        {# csapatunk #}
        <section id="team" class="uk-container uk-margin-minus">
            <div class="uk-padding uk-border-bold">
                <div class="uk-section-title uk-padding uk-padding-remove-top uk-padding-remove-left  uk-padding-remove-right">
                    <h4>{{ post.meta('s5-subtitle') }}</h4>
                    <h2>{{ post.meta('s5-title') }}</h2>
                </div>

                <div uk-slider="autoplay: true; infinite: true">
                    <div class="uk-slider-items" uk-grid>
                    {% for item in post.meta('s5-team') %}
                        <div class="uk-width-1-3@s uk-text-center">
                            <div class="uk-flex uk-flex-center">
                                <div class="uk-width-auto uk-padding-small uk-background-default uk-box-shadow-medium uk-border-circle">
                                    <div class="uk-cover-container uk-width-small uk-height-small uk-border-circle">
                                        <img src="{{ Image(item.image).src }}" uk-cover>
                                    </div>
                                </div>
                            </div>
                            <h5 class="uk-margin uk-margin-remove-bottom">{{ item.name }}</h5>
                            <p class="uk-margin-remove-top uk-text-primary">{{ item.job }}</p>
                            {{ item.text }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section>


        {# idézetek 2 #}
        <section class="uk-section w-quote-block uk-margin-top uk-margin-bottom">
            <div class="uk-container uk-container-small">

                <div class="uk-position-relative" uk-slider="autoplay:true; infinite: true">
                    <ul class="uk-slider-items">
                        {% for item in post.meta('s2-testimonials') %}
                        <li class="uk-width-1-1 uk-margin-left uk-margin-remove-top" uk-grid>
                            {% if image %}
                            <div class="uk-width-auto">
                                <div class="first">
                                    <div class="uk-cover-container uk-height-small uk-width-small">
                                        <img src="{{ Image(item.image).src }}" uk-cover>
                                    </div>
                                </div>
                                <div class="second">
                                    <div class="uk-cover-container uk-height-small uk-width-small">
                                        <img src="{{ Image(item.image).src }}" uk-cover>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="uk-width-expand@s uk-position-relative">
                                <svg class="quotion"><use href="#quote"></svg>
                                <div class="uk-height-1-1 uk-flex uk-flex-middle uk-position-relative">
                                    <div class="uk-margin-top">
                                        <div class="text">
                                            {{ item.text }}
                                        </div>
                                        <p class="uk-text-primary uk-text-bold uk-margin-remove">{{ item.name }}</p>
                                        {% if item.or == "facebook" %}
                                        <a href="https://www.facebook.com/Szurikata/reviews/" class="uk-text-small uk-link-text">
                                            <span class="fab fa-facebook"></span>
                                            még több vélemény a facebookon
                                        </a>
                                        {% else %}
                                        <a href="https://www.google.com/maps/place/Szuri-K%C3%A1ta/@47.4505891,19.7013998,15z/data=!4m7!3m6!1s0x0:0xff2e99e51c1e185a!8m2!3d47.4505891!4d19.7013998!9m1!1b1" class="uk-text-small uk-link-text">
                                            <span class="fab fa-google"></span>
                                            még több vélemény a google-ön
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>

            </div>
        </section>


	</article>
{% endblock %}
