{# secondary-menu #}
<div id="menuSecondary" class="uk-background-default uk-visible@s">
    <nav class="uk-container" uk-navbar>

        <div class="uk-navbar-right">
            {% if menuSecondary %}
                <ul class="uk-navbar-nav">
                {% for item in menuSecondary.get_items %}
                    <li>
                        <a target="{{ item.target }}" href="{{ item.link }}">
                            <span class="uk-text-small">
                                <span class=" {{ item.classes | join(' ') }} uk-text-secondary uk-margin-small-right"></span>
                                <span class="text">{{ item.title }}</span>
                            </span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

    </nav>
</div>

{# main-menu #}
<nav id="menuPrimary" class="uk-container uk-light" uk-navbar>

    <div class="uk-nav-left">
        <a class="uk-navbar-item uk-logo" href="{{site.url}}">
            <svg><use href="#logo"></svg>
            <div class="description">
                <h1 class="title">{{ site.title }}</h1>
                <p class="desc">{{ site.description }}</p>
            </div>
        </a>
    </div>

    <div class="uk-navbar-right">
        {% if menuPrimary %}
            <ul class="uk-navbar-nav uk-visible@m">
            {% for item in menuPrimary.get_items %}
                <li class="{% if item.current %}uk-active{% endif %}">
                    <a target="{{ item.target }}" href="{{ item.link }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <a class="uk-navbar-toggle uk-navbar-item uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#w-mobile-menu"></a>
    </div>

</nav>


<div id="w-mobile-menu" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar uk-background-dark">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        {% if menuPrimary %}
            <ul class="uk-nav">
            {% for item in menuPrimary.get_items %}
                <li class="{% if item.current %}uk-active{% endif %}">
                    <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if menuSecondary %}
            <hr>
            <ul class="uk-nav uk-margin-top">
            {% for item in menuSecondary.get_items %}
                <li>
                    <a target="{{ item.target }}" href="{{ item.link }}">
                        <span class="uk-text-small">
                            <span class=" {{ item.classes | join(' ') }} uk-text-secondary uk-margin-small-right"></span>
                            <span class="text">{{ item.title }}</span>
                        </span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>